In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Data for python.csv', sep=';', header=1, index_col=0, decimal=',')
#print all of df
sdfsdfsdf
df

,Kassenr,ScandcleftID,Id,Født,Materialedato A,Anteroposterior 1,Anteroposterior 2,Vertical 1,Vertical 2,Transverse,...,Vertical 1.2,Vertical 2.2,Transverse.2,Crowding .2,Spacing.2,Tooth shape/size\n.2,Pan 1.2,Pan 2\n.2,Total Row Score C,Goslon Score C
Center,,,,,,,,,,,,,,,,,,,,,
H,1,11209,b,05/11/98,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
H,2,11214,b,26/03/99,06/06/07,9.0,0.0,0.0,0.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0,1.0
H,3,11112,b,12/03/99,24/02/07,9.0,0.0,0.0,0.0,6.0,...,2.0,0.0,6.0,0.0,0.0,0.0,NaN,0.0,8,1.0
H,4,11215,b,23/04/99,22/05/07,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,6.0,0.0,0.0,0.0,NaN,0.0,9,1.0
H,5,11229,a,22/11/99,14/11/07,9.0,0.0,1.0,0.0,6.0,...,0.0,0.0,6.0,1.0,0.0,1.0,NaN,0.0,9,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Å,80,112140,a,04/05/04,NaN,9.0,0.0,1.0,0.0,6.0,...,1.0,0.0,2.0,0.0,0.0,0.0,NaN,0.0,3,1.0
Å,81,112141,a,05/05/04,NaN,9.0,0.0,4.0,0.0,0.0,...,2.0,0.0,2.0,0.0,0.0,0.0,NaN,0.0,4,3.0
Å,82,112142,b,10/05/04,NaN,12.0,0.0,0.0,0.0,6.0,...,3.0,0.0,6.0,0.0,0.0,0.0,NaN,0.0,12,2.0
Å,83,112143,b,13/07/04,NaN,12.0,0.0,1.0,0.0,6.0,...,1.0,0.0,0.0,1.0,0.0,0.0,NaN,3.0,15,2.0
Å,84,112144,b,16/07/04,NaN,9.0,1.0,0.0,0.0,6.0,...,0.0,0.0,6.0,0.0,0.0,0.0,NaN,0.0,6,2.0

What would u like for us to get

ff boys

In [1]:

for i in range(10):
    print('snuskebab')

snuskebab
snuskebab
snuskebab
snuskebab
snuskebab
snuskebab
snuskebab
snuskebab
snuskebab
snuskebab